@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background-color: #eee;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 500px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px 40px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206)
}

.h2 {
    /* font-family: 'Kaushan Script', cursive; */
    font-size: 2rem;
    font-weight: bold;
    color: #2d7bc0;
    font-style: italic
}

.h4 {
    font-family: 'Poppins', sans-serif
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #2d7bc0;
    color: #2d7bc0
}

.input-field:hover {
    color: #2d7bc0;
    border: 1px solid #2d7bc0
}

input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 0px 2px;
    font-family: 'Poppins', sans-serif
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

a {
    text-decoration: none;
    color: #2d7bc0;
    font-weight: 700
}

a:hover {
    text-decoration: none;
    color: #7b4ca0
}

.option {
    position: relative;
    padding-left: 30px;
    cursor: pointer
}

.option label.text-muted {
    display: block;
    cursor: pointer
}

.option input {
    display: none
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer
}

.option input:checked~.checkmark:after {
    display: block
}

.option input[type="radio"]:checked~.checkmark {
    background: #fff;
    transition: 300ms ease-in-out 0s;
    border: 1px solid #2d7bc0
}

.option input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1)
}

.btn.btn-block {
    width: 100%;
    border-radius: 20px;
    background-color: #2d7bc0;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.btn.btn-block:hover {
    background-color: #4591d4;
}


@media(max-width: 575px) {
    .wrapper {
        margin: 30px
    }
}

@media(max-width:424px) {
    .wrapper {
        margin: 20px
    }

    .option {
        position: relative;
        padding-left: 22px
    }

    .option label.text-muted {
        font-size: 0.95rem
    }

    .checkmark {
        position: absolute;
        top: 2px
    }

    .option .checkmark:after {
        top: 50%
    }

    #forgot {
        font-size: 0.95rem
    }
}

img {
    width: 100px;
   
}


.form-select {
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 8px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    cursor: pointer;
}

.form-select:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(45, 123, 192, 0.5);
}
